@font-face {
    font-family: customAlbert;
    src: url(files/AlbertusMTStdLight.otf);
  }

@font-face {
font-family: gouldy;
src: url(files/Goudy\ Oldstyle\ Std\ Regular.otf);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.home {
    background: #f5efe8;
    align-items: center; 
    align-content: center;
    color: #5d5a29;
}

.story {
    text-align: center;
    background: #5f584e;
    color: #e8b268;
    padding: 0 20%;
    max-width: 600px;
    margin: auto;
}

.storytitle {
    margin-top: 6em;
    font-size: 0.8em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .story{
        padding: 0 12%;
    }

  }

.storytitle h1{
    color: #e8b268;
}

.storytext {
    text-align: justify;
    margin-top: 8em;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.storytext p {
    margin-bottom: 1.8em;
}

h1 {
    /* font-family: 'Albertus Medium'; */
    font-family: customAlbert;
    max-width: max-content;
    margin: auto;
}

.home h1 {
    font-size: 1.8em;
    text-align: center;
    margin-top: 0;
    margin-bottom:  0;
}

.tracktitle {
    font-size: 0.8em;
}
.tracktitle h1{
    color: #5d5a29;
}

.lyrictitle {
    font-size: 0.7em;
    margin-top: 4em;
}

.streepje {
    width: 120px;
    height: 20px;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.ondertitel {
    color: black;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    font-family: customAlbert;
    font-size: 1.5em;

}

.lyrictitle h1 {
    color: black;
}

.hometitle {
    margin-top: 5em;
}

.oogenoor {
    background: url(imgs/spiraal.png) no-repeat center;
    background-size: 350px auto;
    width: 404px;
    height: 350px;
    margin: 4em auto;
    padding: 0;
}

.oogenoor img {
    width: 150px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 100px;
    transition: filter 0.5s;
}

.oogenoor img:hover {
    filter: invert(1);
}

.tracks {
    align-items: center;
    margin: 5em auto;
    width: 50%;
}

.track {
    text-align: center;
    margin: 0.4em auto;
}

.tracks a {
    font-size: 1.8em;
    color: #5d5a29;
    font-family: customAlbert;
}


.lyrics {
    color: black;
    text-align: center;
    font-size: 1em;
    margin-top: 3em;
    margin-bottom: 4em;
    font-family: gouldy;
    font-weight: 100;
    line-height: 1.3;
}


.hands {
    align-items: center;
    align-content: center;
    background: url(imgs/handen.png) no-repeat center;
    width: 20vw;
    height: 20vw;
    background-size: contain;
    position: absolute;
    top:15%;
    left: 70%;
}

.play {
    position: relative;
    width: 8%;
    height: auto;
    top: 43%;
    left: 46%;
    cursor: pointer;
}

.next {
    width: 0.7em;
    float: right;

    margin-top: 3em;
    margin-bottom: 3em;
}
.previous {
    width: 0.7em;
    float: left;

    margin-top: 3em;
    margin-bottom: 3em;
}




.volumeboi {
    position: absolute;
    top: 70vh;
    left: 70vw;
    transform: rotate(270deg);
}


  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 0%;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
  }

.playertje {
    position: fixed;
    width: 100vw;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.brokebaby {
    background-image: url(imgs/achtergrond_1.jpg);
    background-size: cover;
    background-position: center;
}

.about a{
    position: absolute;
    font-family: gouldy;
    text-decoration: none;
    color: #5d5a29;
    left: 6px;
    bottom: 0;
}

.insta a{
    position: absolute;
    font-family: gouldy;
    text-decoration: none;
    color: #5d5a29;
    right: 6px;
    bottom: 0;
}

.brunotext {
    font-family: gouldy;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 300px;
    margin: 0 auto;
    line-height: 1.3;

}

.bruno {
    width: 250px;
    height: auto;
    margin: 1.5em auto;
}